body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 25px 200px;
}

.left-header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-header {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.block1 {
    display: flex;
    background-color: #1F2937;
    padding: 50px 100px;
    gap: 30px;
}

.part1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:flex-start;
    margin-left: auto;
    max-width: 500px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#button1 {
    background-color: #3882f6;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 2px 15px;
}

.mainimage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

#image1 {
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
    border: 5px solid black;
}